@media print {
    .heading_bp {page-break-before: always;}
 
    table tr td { 
        border-collapse: collapse; 
        vertical-align: top!important;
    } 
     
    table.border {
        border: 1px solid black; 
        border-collapse: collapse;
        vertical-align: top;
    } 
    .border th {
        border: 1px solid black; 
        border-collapse: collapse;
        padding: 5px 6px;
    } 
    .border td {
        border: 1px solid black; 
        border-collapse: collapse;
        padding: 5px 6px;
    } 

    @page{
        size: A4;
        padding-top: 20mm;
        padding-bottom: 20mm;
    }
    
    .container{
        margin-left:auto;
        margin-right:auto;
        max-width:160mm; 
        padding:20mm 25mm;
        font:"Times New Roman", Times, serif; 
        font-size:12pt;
        line-height: 1.25; 
        box-decoration-break: clone;
    }
 
    .page_break_only_screen{
        display: none;
    }
    
    .border-container{   
        border: none !important;
    }
    .paragraf-helper{
        display: none;
    }
}

.container{
    margin-left:auto;
    margin-right:auto;
    max-width:160mm; 
    padding:20mm 25mm;
    font:"Times New Roman", Times, serif; 
    font-size:12pt;
    line-height: 1.25; 
    box-decoration-break: clone;
}

.border-container{ 
    border-right: 1px black solid;
    border-left: 1px black solid;  
}

table tr td { 
    border-collapse: collapse; 
    vertical-align: top!important;
}  
  
  
.vertical-align-bottom { 
    vertical-align: bottom!important;
}
.vertical-align-middle { 
    vertical-align: middle!important;
}

table.border {
    border: 1px solid black; 
    border-collapse: collapse;
    vertical-align: top;
} 
.border th {
    border: 1px solid black; 
    border-collapse: collapse;
    padding: 5px 6px;
} 
.border td {
    border: 1px solid black; 
    border-collapse: collapse;
    padding: 5px 6px;
} 


.text-size-18pt{
    font-size: 18pt;
}
.text-size-14pt{
    font-size: 14pt;
}
.text-size-13pt{
    font-size: 13pt;
}
.text-size-12pt{
    font-size: 12pt;
}
.text-size-11pt{
    font-size: 11pt;
}
.text-size-10pt{
    font-size: 10pt;
}


.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-justify{
    text-align: justify;
    text-justify: inter-word;
}

.text-indent{
    text-indent: 1cm;
}

.uppercase{
    text-transform: uppercase;
}
.underline{
    text-decoration-line: underline;
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}

.border-bottom-ridge-4{
    border-bottom: 4px black ridge;
}

.mb-6px{
    margin-bottom: 6px;
}

.float-right  {
    float: right;
}

.lh-single {
    line-height: 1;
}
.lh-15 {
    line-height: 1.5;
}


.page_break_only_screen{
    background-color: gray;
    height: 25px;
    margin-top: 25mm;
    margin-bottom: 25mm;
}

.color-black{
    color: black;
}
 

.heading-1{
    margin-top: 1em;
}
.paragraf-helper{
    background-color: yellow;
}